{{ define "base" }}
<html>
<head>
  <title>{{ template "title" . }}</title>
</head>
<body>
    {{ template "scripts" . }}
    {{ template "sidebar" . }}
    <div>
      Welcome to the main page
    </div>
  <footer>
    {{ template "footer" . }}
  </footer>
</body>
</html>
{{ end }}
